ion-tab-bar {
    background-color: #f8f8f8;
  }
  
  ion-icon {
    font-size: 24px;
    color: #ffffff;
  }
  
  
  ion-tab-bar {
    background: #3F5EFB;
    background: linear-gradient(308deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);  --ion-tab-bar-background: transparent; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    padding: 10px; 
  }