<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="welcome-container">
    <div style="display: flex; align-items: center;">
      <ion-searchbar color="light" placeholder="" style="flex: 1;"></ion-searchbar>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="options-outline" class="negro-icono"></ion-icon>
      </ion-button>
    </div>

    <h1>¡Hola, Usuario!</h1>
    <p>Bienvenido a la aplicación de PlanSeguro.</p>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información Básica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aquí puedes agregar información relevante o accesos rápidos.
      </ion-card-content>
    </ion-card>

    <ion-card>
    <ion-card-header>
      <ion-card-title>Mapa de Calor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="map" style="height: 400px; width: 100%;"></div>
    </ion-card-content>
    </ion-card>
  </div>

  <ion-footer>
    <ion-toolbar color="light">
      <ion-title size="small" class="footer-text">
        © 2025 PlanSeguro. Todos los derechos reservados.
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
