<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="welcome-container">
    <div style="display: flex; align-items: center; margin-bottom: 5px;">
      <ion-searchbar color="light" placeholder="" style="flex: 1;"></ion-searchbar>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="options-outline" class="negro-icono"></ion-icon>
      </ion-button>
    </div>

    <ion-card style="margin-top: 0;">
      <ion-card-content>
        <div id="map"></div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón flotante ajustado -->
  <div class="floating-button">
    <ion-button expand="block" class="boton">Reportar</ion-button>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/home">
    <ion-icon name="home-outline" style="font-size: 30px;"></ion-icon>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/camara">
    <ion-icon name="camera-outline" style="font-size: 30px;"></ion-icon>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/comentario">
    <ion-icon name="chatbox-ellipses-outline" style="font-size: 30px;"></ion-icon>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/perfil">
    <ion-icon name="person-outline" style="font-size: 30px;"></ion-icon>
    <ion-label></ion-label>
  </ion-tab-button>
</ion-tab-bar>
