<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plan Valparaiso ss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <ion-header collapse="condense" translucent>
    <ion-toolbar>
      <ion-title size="large" class="fuente">
        <span class="plan-text">Plan</span>
        <span class="valparaiso-text"> Valparaíso</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="fuente">
    <ion-card-header>
      <p>Regístrate en unos pocos pasos para comenzar a usar la aplicación.
        Solo necesitamos algunos datos básicos para crear tu cuenta.</p>
      <ion-card-title>
        <h1>¿Aún no tienes una cuenta?
        </h1>
      </ion-card-title>  
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-input label="Correo Electronico" label-placement="floating" fill="solid" class="Fuente" [(ngModel)]="correo" type="text" placeholder="Ingresa un email válido"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" label-placement="floating" fill="solid" class="Fuente" [(ngModel)]="contrasena" type="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
        <ion-button expand="block" (click)="registrar()">Registrar</ion-button>
      <div class="enlaces-login">
        <a routerLink="/login">¿Ya tienes una cuenta? Inicia sesión</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
